<form action="/authors/<%= @author.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH" />
  <h2>Edit</h2>
  <p>Name</p>
  <input type='text' name='author[name]' value="<%= @author.name %>"/><br/>
  <p>Alive or Dead</p>
  <%if @author.alive %>
    <input type="radio" id="Alive" name="author[alive]" value="true" checked="checked">
    <label for="Alive">Alive</label>
    <input type="radio" id="Dead" name="author[alive]" value="false">
    <label for="Dead">Dead</label>
  <%end%>
  <%if !@author.alive %>
    <input type="radio" id="Alive" name="author[alive]" value="true">
    <label for="Alive">Alive</label>
    <input type="radio" id="Dead" name="author[alive]" value="false" checked="checked">
    <label for="Dead">Dead</label>
  <%end%>

  <p>Year Born</p>
  <input type='number' name='author[year_born]'value="<%= @author.year_born %>"/><br/>
  <input type='submit' name="submit"/>
</form>