<h1>My Favorite Books</h1>

<ul>
  <li><h2><a href="/authors">Authors</a></h2></li>
  <a href="/authors/new">Add an Author</a>
  <li><h2><a href="/books">Books</a></h2></li>
  <a href="/books/new">Add a Book</a>
</ul>