<h1>My Favorite Books</h1>

<ul>
  <li><h2><a href="/authors">Authors</a></h2></li>
  <li><a href="/authors/new">Add an Author</a></li>
  <li><a href="/authors/1">Kim Stanley Robinson</a></li>
  <li><h2><a href="/books">Books</a></h2></li>
  <li><h2><a href="/books/new">Add a Book</a></h2></li>
  <li><a href="/books/1">2312</a></li>

</ul>