<form action="/books/<%= @book.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH" />
  <p>Edit</p>
  <p>Name</p>
  <input type='text' name='book[title]'/><br/>
  <p>Fiction or Nonfiction</p>
  <input type="radio" id="Fiction" name="book[fiction]" value="true">
  <label for="Fiction">Fiction</label>
  <input type="radio" id="Nonfiction" name="book[fiction]" value="false">
  <label for="Nonfiction">Nonfiction</label>
  <p>Year Written</p>
  <input type='number' name='book[year_written]'/><br/>
  <p>Author Id </p>
  <input type='number' name='book[author_id]'/><br/>
  <input type='submit'/>
</form>